/*############################################################################################################
*   COMMON STYLING
############################################################################################################*/
img {
    width: 100%;
    display: block;
}

.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

/* Google Font Names:
(BOLD HEADING)
font-family: 'Lilita One', cursive;

(Handwriting)
font-family: 'Mali', cursive;

(Normal Text)
font-family: 'Open Sans', sans-serif; 
*/

/*############################################################################################################
*   WEBSITE STYLING
############################################################################################################*/

/* Header Styling */

header { background-color: #e4e4e4; }

header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header figure {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
}

header .header-text {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    text-align: center;
}

header .header-text h1 {
    font-size: 54px;
    font-family: 'Lilita One', cursive;
    font-weight: 400;
    line-height: 1.4;
}

header .header-text p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 700;
    line-height: 1.4;
}

/* Prevent Styling */

.prevent { margin-top: 50px; }

.prevent .wrapper { width: 50%; }

.prevent h2 { 
    font-size: 32px;
    font-family: 'Mali', cursive;
    font-weight: 700;
    line-height: 1.4;
    text-align: center; 
}

.preventions-ul li {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
} 

.preventions-ul li figure {
    margin-right: 15%;
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%;
}

.preventions-ul li p {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    font-size: 20px;
    font-family: 'Mali', cursive;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

/* Corona Update Styling */

.corona-update .wrapper {
    padding-top: 50px;
    border-top: 1px solid #000;
}

.corona-update h3 {
    margin-bottom: 30px;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 700;
    line-height: 1.4;
    text-align: center;
}

table { font-family: 'Open Sans', sans-serif; }

/* Footer Styling */
footer {
    padding: 50px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
}

/*############################################################################################################
*   MEDIA QUERIES
############################################################################################################*/

@media only screen and (max-width: 1200px) {
    header .header-text h1 { font-size: 40px; }
    header .header-text p { font-size: 16px; }
    .prevent .wrapper { width: 70%; }

    .preventions-ul li figure {        
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    }

    .preventions-ul li p {
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    }

    .corona-update h3 { font-size: 28px; }
}

@media only screen and (max-width: 995px) {
    .prevent .wrapper { width: 90%; }

    .preventions-ul li figure { margin-right: 5%; }

    .preventions-ul li p {
        -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    }

}

@media only screen and (max-width: 768px) {
    header figure {
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    }

    header .header-text {
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    }

    header .header-text h1 { font-size: 24px; }

    header .header-text p { 
        width: 80%;
        margin: 0 auto;
        font-size: 14px;
    }

    .prevent h2 { font-size: 26px; }
    .preventions-ul li p { font-size: 18px; }

    .corona-update h3 { font-size: 24px; }
}

@media only screen and (max-width: 540px) {    
    header .wrapper { display: block; }
    header figure { margin-bottom: 0; }
    header .header-text { padding-bottom: 40px; }
    .prevent h2 { font-size: 20px; }
    .preventions-ul li p { font-size: 14px; }
    .corona-update h3 { font-size: 20px; }
    table { font-size: 14px; }
}